<div class="level h23-centered">
  <div class="level-item">
    <h2 class="subtitle has-text-centered">
      Spielübersicht
    </h2>
  </div>
</div>

<div class="level is-mobile is-hidden-tablet h23-centered">
  <div class="level-item">
      <p class="tabs-label">Runden</p>
        <div class="tabs is-centered">
          <ul>
            <li *ngFor="let r of allRounds"
              [ngClass]="{ 'is-active': selectedRound === r }"
            >
              <a (click)="selectedRound = r">{{ r.nr }}</a>
            </li>
          </ul>
      </div>
  </div>
</div>

<div class="columns">
  <div class="column is-one-quarter is-hidden-mobile">
    <aside class="menu">
      <p class="menu-label">
        Runden
      </p>
      <ul class="menu-list">
        <li *ngFor="let r of allRounds">
          <a
            [ngClass]="{ 'is-active': r == selectedRound }"
            (click)="selectedRound = r"
          >
            Runde {{ r.nr }}
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <table class="table is-fullwidth is-narrow">
      <thead class="is-hidden-mobile">
        <tr>
          <th>Datum</th>
          <th>Liga</th>
          <th>Paarung</th>
          <th>Ergebnis</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let m of matches">
          <tr class="is-hidden-mobile">
            <td>{{ m.matchDay | date: 'dd.MM.yy' }}</td>
            <td>{{ m.league }}</td>
            <td>{{ m.fixture }}</td>
            <td>{{ m.result }}</td>
            <td>{{ m.points }}</td>
          </tr>
          <tr class="is-hidden-tablet mobile-details-first">
            <td colspan="4">{{ m.fixture }}</td>
            <td class="has-text-right">{{ m.result }}</td>
          </tr>
          <tr class="is-hidden-tablet">
            <td colspan="2">{{ m.matchDay | date: 'dd.MM.yy' }}</td>
            <td>{{ m.league }}</td>
            <td colspan="2" class="has-text-right">Pkt: {{ m.points }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
