<clr-header class="header-7">
    <div class="branding">
        <a routerLink="/" class="nav-link">
            <img class="logo" src="/assets/logo.png" alt="Logo">
            <span class="title">Tipprunde</span>
            <span class="responsive-title">{{ championship.name }}</span>
        </a>
    </div>
    <div class="header-title">{{ championship.name }}</div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a routerLink="/login" class="disabled" clrDropdownItem>Log in</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>
<div class="content-container ranking">
    <div class="content-area">
        <div class="clr-row">
            <div class="clr-col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <section class="nav-group">
          <ul class="nav-list">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/tipprunde" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tabelle</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/tipprunde/spieler" routerLinkActive="active">Spieler</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Tipps</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Spiele</a>
              </li>
          </ul>
        </section>
      </section>
    </nav>
</div>
