
<div class="notification is-link is-marginless is-radiusless has-text-centered"
  [ngClass]="{ 'is-visible': alertVisible }"
>
  Eine neue Version der App liegt vor.
  <a class="button is-small" (click)="update()"><fa-icon [icon]="reloadIcon"></fa-icon></a>
</div>

<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">
      <img src="/assets/logo.png" alt="Logo">
      <span class="is-hidden-mobile">Tipprunde</span>
    </a>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <div class="navbar-item">
        {{ championship.name }}
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item">Log In</a>
    </div>
  </div>
</nav>
<main class="section" (swipeleft)="onSwipeLeft($event)">
  <nav class="secondary tabs is-centered is-fullwidth">
    <ul>
      <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Tabelle</a>
      </li>
      <li routerLinkActive="is-active">
        <a routerLink="/spiele">Spielplan</a>
      </li>
      <li><a>Archiv</a></li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
