<div class="card">
  <div class="card-block">
    <div class="card-title">
      {{ championship.completed ? 'Abschlusstabelle' : 'Aktuelle Tabelle' }}
    </div>
    <div class="card-text">
      <table class="table table-noborder">
        <thead>
          <tr>
            <th>Platz</th>
            <th class="left">Name</th>
            <th>Punkte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of standings; let ix = index">
            <td>{{ r.rank === ix + 1 ? r.rank : '' }}</td>
            <td class="left">{{ r.name }}</td>
            <td>{{ r.totalPoints }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>