
.branding .responsive-title {
  display: none;
  font-size: (2rem / 3);
}

.ranking {
  .content-area .card:only-of-type {
    margin-top: 0;
  }

  .sidenav .nav-item {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main-container.open-hamburger-menu .branding .responsive-title {
    display: inline;
    color: #565656;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .main-container.open-hamburger-menu .sidenav.clr-nav-level-1 {
    padding-top: 2.5rem;
  }
}
